/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html body {
  max-width: 1024px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
}
html body header {
  background-color: #98A4AF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
html body header #header-content {
  width: 85%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
html body header #header-content h1 {
  margin: 10px;
  font-size: 2.4rem;
  color: #FFFFFF;
  letter-spacing: 1px;
}
html body header #header-content button {
  background-color: transparent;
  border-color: transparent;
}
html body header #header-content nav {
  display: none;
}
html body #jumbotron {
  height: 598px;
  background-image: url("../img/home/home-jumbotron.png");
}
html body #jumbotron h2 {
  padding-top: 325px;
  padding-left: 80px;
  color: #FFFFFF;
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 7.5rem;
  letter-spacing: 1px;
}
html body #content .content-tile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 50px 60px;
}
html body #content .content-tile .content-tile-text {
  width: 45%;
}
html body #content .content-tile .content-tile-text h3 {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 25px;
}
html body #content .content-tile .content-tile-text p {
  line-height: 2.4rem;
  padding-bottom: 40px;
}
html body #content .content-tile .content-tile-text a {
  text-decoration: none;
  color: #222222;
  border: 1px solid #222222;
  padding: 12px 25px;
}
