@import "reset.less";
@import "variables.less";
@import "mixins.less";

html {
    font-size: 62.5%;

    body {
        margin: 0 auto;
        font-family: @font-set;
        font-size: @font-size;
        line-height: @line-height;
        
        .mobile-img {
            display: none;
        }

        @import "header.less";
        @import "jumbotron.less";

        #main-body {
            width: 83%;
            margin: 0 auto;

            @import "main-content.less";
            @import "projects.less";
        }

        @import "footer.less";
    }
}

