#content {
    .content-tile {
        .flex(@justify: space-around, @align: center);
        padding: 50px 0;
        :first-child {
            padding-right: 30px;
        }
        
        .content-tile-text {
            h3 {
                font-size: @main-sub-header-size;
                font-weight: bold;
                padding-bottom: 25px;
            }

            p {
                line-height: @line-height;
                padding-bottom: 40px;
            }

            a {
                text-decoration: none;
                color: @font-color;

                border: 1px solid @main-btn-border;
                padding: 12px 25px;
            }
        }
    }
}