#projects {
    padding-top: 50px;

    h2 {
        font-size: @main-sub-header-size;
        font-weight: @main-sub-header-weight;
        margin-bottom: 45px;
    }

    .projects-banner {
        position: relative;
        
        img {
            width: 100%;
        }

        h3 {
            position: absolute;
            bottom: -13%;
            background-color: @main-proj-header-bg;
            font-size: @main-sub-header-size;
            letter-spacing: 9px;
            padding: 4% 5%;
        }

        .banner-right {
            right: 0;
        }

        .banner-left {
            left: 0;
        }
    }
}